<h1 ng-show="main.playing">Player {{main.player}}'s turn</h1>
<h1 ng-hide="main.playing">Winner is {{main.player}}!</h1>

<div id="board_container">
  <div id="board">
    <div class="tile_wrapper" ng-repeat="tile in main.tiles track by $index">
      <div id="tile{{tile}}" class="tile active">
        <div id="tile{{tile}}square{{square[0]}}" class="square square{{square[0]}}" ng-repeat="square in main.squares track by $index" ng-click="main.getMove(tile, square[1], $event)"></div>
      </div>
    </div>
  </div>
</div>

<button ng-click="main.changePage('rules')">Rules</button>