@font-face {
  font-family: 'Lato-Regular';
  src: url("/fonts/Lato-Regular.ttf");
}

body {
  font-family: 'Lato-Regular';
  background: white;
}

body header h1 {
  text-align: center;
}

body main {
  text-align: center;
}

#board_container {
  position: relative;
  width: 60%;
  min-width: 720px;
  margin: 0 auto;
}

#board_container #board {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}

.tile_wrapper {
  position: relative;
  width: 33%;
  height: 33%;
  float: left;
}

.tile_wrapper .tile {
  position: relative;
  height: 97%;
  background-color: rgba(189, 189, 189, 0.6);
  border: 3px solid #555555;
  box-shadow: inset 5px 5px 4px 0 #a2a2a2;
}

.tile_wrapper .tile.active {
  background-color: rgba(240, 240, 240, 0.6);
  box-shadow: 5px 5px 4px 0 #a2a2a2;
}

.tile_wrapper .tile.inactive {
  box-shadow: inset 5px 5px 4px 0 #a2a2a2 !important;
}

.tile_wrapper .tile.x {
  background-color: #ff9999;
}

.tile_wrapper .tile.o {
  background-color: #9999ff;
}

.tile_wrapper .tile#tile1 {
  border-left: 0;
  border-right: 0;
}

.tile_wrapper .tile#tile4 {
  border-left: 0;
  border-right: 0;
}

.tile_wrapper .tile#tile7 {
  border-left: 0;
  border-right: 0;
}

.square {
  position: relative;
  width: 33%;
  height: 33%;
  float: left;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.square.square0 {
  border-right: 1px solid #555555;
  border-bottom: 1px solid #555555;
}

.square.square1 {
  border-bottom: 1px solid #555555;
}

.square.square2 {
  border-left: 1px solid #555555;
  border-bottom: 1px solid #555555;
}

.square.square3 {
  border-right: 1px solid #555555;
}

.square.square5 {
  border-left: 1px solid #555555;
}

.square.square6 {
  border-top: 1px solid #555555;
  border-right: 1px solid #555555;
}

.square.square7 {
  border-top: 1px solid #555555;
}

.square.square8 {
  border-top: 1px solid #555555;
  border-left: 1px solid #555555;
}

.square.x {
  background-color: #DF080E;
}

.square.x:before {
  content: "X";
}

.square.o {
  background-color: #0F52B6;
}

.square.o:before {
  content: "O";
}

#rules {
  width: 70%;
  margin: 0 auto;
}

#rules article {
  text-align: justify;
  margin-bottom: 1em;
}

#rules img {
  display: inline-block;
  height: auto;
  width: 45%;
  padding: 2%;
}

button {
  display: inline-block;
  padding: 0.5em;
  margin: 1em 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  outline: none;
  color: #f5f5f5;
  background-color: #6ec071;
  border: none;
  border-radius: 4px;
  box-shadow: 0 9px #6f6f6f;
}

button:hover {
  background-color: #4CAF50;
}

button:active {
  background-color: #4CAF50;
  box-shadow: 0 5px #555555;
  transform: translateY(4px);
}

/* Phones - Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    margin: 0.5em 0;
    font-size: 1.5em;
  }
  #board_container {
    width: 100%;
    min-width: 0px;
  }
  #board_container #board {
    height: 300px;
  }
  .tile_wrapper .tile {
    position: relative;
    height: 98%;
    background-color: rgba(189, 189, 189, 0.6);
    border: 2px solid #555555;
  }
  .tile_wrapper .tile.active {
    background-color: rgba(240, 240, 240, 0.6);
    box-shadow: 2px 2px 1px 0 #a2a2a2;
  }
  .tile_wrapper .tile.inactive {
    box-shadow: inset 2px 2px 1px 0 #a2a2a2 !important;
  }
  .tile_wrapper .tile#tile1 {
    border-left: 0;
    border-right: 0;
  }
  .tile_wrapper .tile#tile4 {
    border-left: 0;
    border-right: 0;
  }
  .tile_wrapper .tile#tile7 {
    border-left: 0;
    border-right: 0;
  }
  .square {
    width: 32.5%;
  }
  .square.square0 {
    border-right: 0.5px solid #555555;
    border-bottom: 0.5px solid #555555;
  }
  .square.square1 {
    border-bottom: 0.5px solid #555555;
  }
  .square.square2 {
    border-left: 0.5px solid #555555;
    border-bottom: 0.5px solid #555555;
  }
  .square.square3 {
    border-right: 0.5px solid #555555;
  }
  .square.square5 {
    border-left: 0.5px solid #555555;
  }
  .square.square6 {
    border-top: 0.5px solid #555555;
    border-right: 0.5px solid #555555;
  }
  .square.square7 {
    border-top: 0.5px solid #555555;
  }
  .square.square8 {
    border-top: 0.5px solid #555555;
    border-left: 0.5px solid #555555;
  }
  #rules {
    width: 95%;
    margin: 0 auto;
  }
  #rules img {
    display: inline-block;
    height: auto;
    width: 45%;
    padding: 2%;
  }
  button {
    margin: 0.5em;
  }
}
