#board_container {
  position: relative;
  width: 100%;
  margin: 100px auto;
}

#board_container #board {
  height: 400px;
  margin: 0 auto;
}

.tile_wrapper {
  position: relative;
  width: 33%;
  height: 33%;
  float: left;
}

.tile_wrapper .tile {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: rgba(240, 240, 240, 0.6);
}

.square {
  position: relative;
  width: 33%;
  height: 33%;
  float: left;
}

.square.square0 {
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}

.square.square1 {
  border-bottom: 1px solid #555;
}

.square.square2 {
  border-left: 1px solid #555;
  border-bottom: 1px solid #555;
}

.square.square3 {
  border-right: 1px solid #555;
}

.square.square5 {
  border-left: 1px solid #555;
}

.square.square6 {
  border-top: 1px solid #555;
  border-right: 1px solid #555;
}

.square.square7 {
  border-top: 1px solid #555;
}

.square.square8 {
  border-top: 1px solid #555;
  border-left: 1px solid #555;
}

body {
  background: #1ea;
}
