// Squares CSS
.square{
  position: relative;
  width: 33%;
  height: 33%;
  float: left;

  &.square0{
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
  }
  &.square1{
    border-bottom: 1px solid $black;
  }
  &.square2{
    border-left: 1px solid $black;
    border-bottom: 1px solid $black;
  }
  &.square3{
    border-right: 1px solid $black;
  }
  &.square4{

  }
  &.square5{
    border-left: 1px solid $black;
  }
  &.square6{
    border-top: 1px solid $black;
    border-right: 1px solid $black;
  }
  &.square7{
    border-top: 1px solid $black;
  }
  &.square8{
    border-top: 1px solid $black;
    border-left: 1px solid $black;
  }
}
