// Tiles CSS
.tile_wrapper {
  position: relative;
  width: 33%;
  height: 33%;
  float: left;

  .tile {
    position: relative;
    height: 97%;
    background-color: darken($grey, 20%);
    border: 3px solid $black;
    box-shadow: inset 5px 5px 4px 0 lighten($black, 30%);

    &.active {
      background-color: $grey;
      box-shadow: 5px 5px 4px 0 lighten($black, 30%);
    }
    &.inactive {
      box-shadow: inset 5px 5px 4px 0 lighten($black, 30%) !important;
    }

    &.x {
      background-color: lighten(red, 30%);
    }
    &.o {
      background-color: lighten(blue, 30%);
    }

    &#tile1 {
      border-left: 0;
      border-right: 0;
    }
    &#tile4 {
      border-left: 0;
      border-right: 0;
    }
    &#tile7 {
      border-left: 0;
      border-right: 0;
    }
  }
}
