// Imports
@import "variables";
@import "board";
@import "tiles";
@import "squares";
@import "players";
@import "rules";
@import "buttons";

// Main Css
header {
  h1 {
    text-align: center;
  }
}

body {
  background: $white;
  main {
    text-align: center;
  }
}
