// Imports
@import "variables";
@import "board";
@import "tiles";
@import "squares";
@import "rules";
@import "buttons";

// Font
@font-face {
  font-family: 'Lato-Regular';
  src: url("/fonts/Lato-Regular.ttf");
}

// Main Css
body {
  font-family: 'Lato-Regular';
  background: white;

  header {
    h1 {
      text-align: center;
    }
  }
  main {
    text-align: center;
  }
}
