// Imports
@import "variables";
@import "mixins";
@import "header";
@import "board";
@import "tiles";
@import "squares";
@import "rules";
@import "buttons";
@import "responsive";

// Font
@font-face {
  font-family: 'Lato-Regular';
  src: url("/fonts/Lato-Regular.ttf");
}

// Site CSS
body {
  font-family: 'Lato-Regular';
  background: white;
  margin: 0;

  main {
    text-align: center;
  }
}